* {
    box-sizing: border-box;
}

.form_btn {
    color: var(--main_color);
    background-color: var(--main_background-color);
    border-radius: 25px;
    border: 0;
    padding: 5px;
}
@media screen and (min-width: 640px) and (max-width: 1008px){
    .form_btn {
        margin-right: 2%;
        font-size: 1.2rem;
    }  
}
@media screen and (min-width: 1008px) {
    .form_btn {
        margin-right: 2%;
        font-size: 2rem;
    } 
}