* {
    box-sizing: border-box;
}

.carousel-container {
    margin-top: 0;
}
.carousel-links {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.carousel-dot {
    background-color: var(--main-titles_color);
    margin: 0 5px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
}

.carousel-slides {
    max-height:  200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-slides div {
    width: 100%;
    overflow: hidden;
}

.a_slide picture source, .a_slide picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-container a{
    padding: 0;
}