* {
    box-sizing: border-box;
}

input, textarea {
    background-color: whitesmoke;
}
main {
    margin: 10px;
}

legend {
    font-style: oblique;
    font-weight: bold;
    color: var(--main-titles_color);
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 10px;
}

input {
    margin: 5px
}

.contact_titles {
    color: var(--main-titles_color);
    font-size: 3.5ex;
    font-weight: bolder;
    margin-bottom: 10px;
}

.small {
    font-style: italic;
    font-size: 1.2ex;
    text-align: right;
    color: brown;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding: 2px;
}

.radios_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.como_te_llamas {
    align-items: center;
    display: grid;
    grid-template-columns: 80px auto;
}

.radios_container {
    justify-content: space-around;
}

.sobre_ti {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "#compartir"
    "#github"
    "#comentarios"
    "#textarea"
    "small_comentarios"
}
