@media screen and (min-width: 640px) {
    .como_te_llamas {
        align-items: center;
        display: grid;
        grid-template-columns: 80px 2fr 100px;
    }
    #label_name {
        grid-column: 1/2;
    }
    #name {
        grid-column: 2/3;
    }
    #small_name {
        grid-column: 2/4;
    }
    #label_surname {
        grid-column: 1/2;
    }
    #surname {
        grid-column: 2/3;
    }
    #small_surname {
        grid-column: 2/4
    }
    #label_tel {
        grid-column: 1/2;
    }
    #tel {
        grid-column: 2/3;
    }
    #small_tel {
        grid-column: 2/4
    }
    .radios_container {
        justify-content: space-around;
    }
    .sobre_ti {
        align-items: center;
        display: grid;
        grid-template-columns: 230px 2fr;
        grid-gap: 10px 0px;
    }
    #compartir {
        grid-column: 1/2;
    }
    #gitHub {
        grid-column: 2/3;
    }
    #comentarios {
        grid-column: 1/2;
    }
    #textarea {
        grid-column: 1/3;
    }
    #small_comentarios {
        grid-column: 2/4;
    }
}

@media screen and (min-width: 640px) and (max-width: 1008px) {
    #titulo_contacto {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 2rem;
    }
    fieldset, input, textarea {
        font-size: 1.3rem;
    }
    .como_te_llamas {
        margin-bottom: 2%;
        align-items: center;
        display: grid;
        grid-template-columns: 110px 2fr;
    }
    .sobre_ti {
        align-items: center;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 10px 0px;
    }
    #compartir {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #github {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #comentarios {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #textarea {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #small_comentarios {
        grid-column: 2/3;
        
    }
}

@media screen and (min-width: 1008px) {
    #titulo_contacto {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 2.5rem;
    }
    fieldset, input, textarea {
        font-size: 2rem;
    }
    fieldset {
        margin-bottom: 2%;
    }
    legend {
        margin-bottom: 2%;
    }
    .como_te_llamas {
        margin-bottom: 2%;
        align-items: center;
        display: grid;
        grid-template-columns: 180px 2fr;
    }
     .sobre_ti {
        align-items: center;
        display: grid;
        grid-template-columns: 450px 1fr;
        grid-gap: 10px 0px;
    }
}