* {
    box-sizing: border-box;
}

main {
    margin: 10px;
}

legend {
    font-style: oblique;
    font-weight: bold;
    color: var(--main-titles_color);
    margin-bottom: 5px;
}

fieldset {
    margin-bottom: 10px;
}

input {
    margin: 5px
}

.contact_titles {
    color: var(--main-titles_color);
    font-size: 3.5ex;
    font-weight: bolder;
    margin-bottom: 10px;
}

.small {
    display: block;
    font-style: italic;
    font-size: 1.2ex;
    text-align: right;
    color: brown;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding: 2px;
}

.radios_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 640px) {
    .como_te_llamas {
        align-items: center;
        display: grid;
        grid-template-columns: 80px 2fr 100px;
    }
    #label_name {
        grid-column: 1/2;
    }
    #name {
        grid-column: 2/3;
    }
    #small_name {
        grid-column: 2/4;
    }
    #label_surname {
        grid-column: 1/2;
    }
    #surname {
        grid-column: 2/3;
    }
    #small_surname {
        grid-column: 2/4
    }
    #label_tel {
        grid-column: 1/2;
    }
    #tel {
        grid-column: 2/3;
    }
    #small_tel {
        grid-column: 2/4
    }
    .radios_container {
        justify-content: space-around;
    }
    .sobre_ti {
        align-items: center;
        display: grid;
        grid-template-columns: 230px 2fr 100px;
        grid-gap: 10px 0px;
    }
    #compartir {
        grid-column: 1/2;
    }
    #gitHub {
        grid-column: 2/3;
    }
    #comentarios {
        grid-column: 1/2;
    }
    #textarea {
        grid-column: 2/3;
    }
    #small_comentarios {
        margin-top: 5px;
        grid-column: 2/4
    }
}