* {
    box-sizing: border-box;
}

footer {
    bottom: 0;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    text-decoration: none;
}

.footer_navbar-item img, .footer_navbar-item a {
    width: 100%;
}

.footer li{
    list-style: none;
    width: 20%;
}

/* NAV del FOOTER */

.footer_navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

.footer_navbar-item {
    padding: 0px 5px;
    display: flex;
    align-items: center;
}
