  .respmenu a {
    color: var(--main_color);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: rgba(57, 127, 149, .8);
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 28px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: var(--main-titles_color);
    background: #FFF;

    z-index: 99;
  }
  
  .respmenu nav {
    position: absolute;
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }

  ul> .navbar-item {
    list-style: none;
  }