.navbar {
    display: none;
}

.navbar-item {
    list-style: none;
}



/* MEDIA QUERYS */

@media screen and (min-width: 640px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
        align-items: center;          
    }
    .navbar-item {
        text-align: center;
        margin: 5px;
    }
    a:link, a:visited, a:active {
        padding: 0 5px;
        font-weight: bolder;
        color: var(--main-titles_color);
        text-decoration: none;
    }
    .list> li >a {
        transition: color .3s ease-in-out, letter-spacing .3s ease-in-out;
    }
    .list> li >a:hover {
        letter-spacing: 3px;
        color: rgb(255, 165, 0);
    }
}

@media screen and (min-width: 640px) and (max-width: 1007px) {
    a:link, a:visited, a:hover, a:active {
        font-size: 20px;
    }

}

@media screen and (min-width: 640px) {
    a:link, a:visited, a:hover, a:active {
        font-size: 2.5rem;
    }
    .navbar {
        justify-content: end;
        margin-right: 8%;
    }
}