.progress-bar-space {
    min-height: 10px;
    background-color: lightgrey;
    border-radius: 25px;
    border: 2px solid rgb(119, 117, 117);
    overflow: hidden;
}

.progress-bar-value {
    min-height: 10px;
    background-color: var(--main-titles_color);
    border-radius: 5px;
}

@keyframes HTML_progressbar {
    0% {width: 0%}
    100% {width: 75%}
    ;
}

@keyframes CSS_progressbar {
    0% {width: 0%}
    100% {width: 75%}
    ;
}

@keyframes JS_progressbar {
    0% {width: 0%}
    100% {width: 25%}
    ;
}

@keyframes phyton_progressbar {
    0% {width: 0%}
    100% {width: 10%}
    ;
}

@keyframes SQL_progressbar {
    0% {width: 0%}
    100% {width: 5%}
    ;
}

@keyframes mySQL_progressbar {
    0% {width: 0%}
    100% {width: 5%}
    ;
}

#HTML_bar {
    animation: HTML_progressbar 1s ease-in-out;
}

#CSS_bar {
    animation: CSS_progressbar 1s ease-in-out;
}

#JS_bar {
    animation: JS_progressbar 1s ease-in-out; 
}

#phyton_bar {
    animation: phyton_progressbar 1s ease-in-out;
    animation-fill-mode: forwards;
}

#SQL_bar {
    animation: SQL_progressbar 1s ease-in-out;
}

#mySQL_bar {
    animation: mySQL_progressbar 1s ease-in-out;   
}

#HTML_bar, #CSS_bar, #JS_bar, #phyton_bar, #SQL_bar, #mySQL_bar {
    animation-fill-mode: forwards;
}