* {
    box-sizing: border-box;
}

a{
    display: block;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a, a:hover, a:visited {
    color: #454B51;
}

.card {
    background-color: whitesmoke;
    min-width: 180px;
    max-width: 350px;
    min-height: 175px;
    padding: 3px;
    border: 1px rgb(197, 193, 193) solid;
    border-radius: 25px;
    box-shadow: 1px 1px;
} 

.container {
    margin: 10px;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr;   
}


picture {
    margin: 0;
}

.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image--item img {
    border-radius: 5px;
    width: 10vh;
}

.image--item {
    margin-left: 5px;
}


.item--text {
    margin-right: 10px;
    text-align: justify;
    padding-left: 10px;
}

.text h1 {
    margin-bottom: 5px;
    color: var(--main-titles_color);
    font-weight: bolder;
    text-align: center;
}

.text p {
    font-size: small;
}

.deco {
    font-style: italic;
}

