* {
    box-sizing: border-box;
}

h1 {
    color: var(--main-titles_color);
    font-size: 35px;
    font-weight: bolder;
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: small;
}

#main_text {
margin-left: 20%;
margin-top: 10px;
}

.main {
    font-size: 12px;
    color: white;
}
