body {
    background-image: url(error_404_mobile.png);
    font-family: 'Century Gothic';
}
h1 {
    color: #454B51;
    font-size: 60px;
    font-weight: bold;
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: small;
}

#main_text {
margin-left: 20%;
margin-top: 50%;
}

.main {
    font-size: 80px;
    color: white;
}
