header {
border: 2px solid red;
}

#cabecera {
    position: static;
    display: grid;
}

.header {
    max-height: 320px;
}

#fondo_cabecera{
    position: relative;
         /*background-image: url(../img/Fondo_cabecera_mobile.png);*/
    z-index: 0 ;
    margin: 0px 0px 0px 0px;
}

.image_cabecera {
    border: 2px solid violet;
    display: inline-block;
    width: 25%;
    margin-right: 15px;
    z-index: 1;
}

.image_cabecera img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.texto_cabecera{
    
    display: inline-block;
    width: 70%;
    padding: 5px;

}
.texto_cabecera P {
    text-align: left;
    z-index: 1;
}
.name {
    color: #454B51;
    font-weight: bolder;
    font-size: 4.5ex;  
}

.surname {
    color: white;
    font-weight: bolder;
    font-size: 4.5ex;
}

.subtittle {
    color: white;
    font-size: 2.1ex;
}