* {
    box-sizing: border-box;
}

/* Header */
#cabecera {
    position: static;
    display: grid;
}

.header {
    max-height: 320px;
}

#fondo_cabecera{
    position: relative;
         /*background-image: url(../img/Fondo_cabecera_mobile.png); */
    z-index: 0 ;
    margin: 0px 0px 0px 0px;
}

#image_cabecera {
    float: left;
    z-index: 1;
}

#text_cabecera{
    float: right;
}
#texto_cabecera P {
    position: relative;
    text-align: left;
    margin: 1%;
   
    z-index: 1;
}
#nombre {
    color: #454B51;
    font-weight: bolder;
    font-size: 5ex;  
}

#apellidos {
    color: white;
    font-weight: bolder;
    font-size: 5ex;
}

#subtitulo {
    color: white;
    font-size: 2ex;
}

/* Footer */

.footer a{
    color: black;
    text-decoration: none;
}

.footer li{
    list-style: none;
}