.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;          
}

.navbar-item {
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    padding: 0 5px;
    font-weight: bolder;
    color: var(--main-titles_color);
    text-decoration: none;
    font-size: small;
}

a:active {
    color: #d65a31
}

a:hover {
    color: #f34a11;
}

/* MEDIA QUERYS */

@media (max-width: 320px) {
    .navbar {
        display: none;
    }
    .navbar
}