/* TEXTOS CABECERA */
.name, .surname, .subtitle {
    display: inline;
}
.name, .surname {
    font-weight: bolder;
    font-size: 4.5ex;  
}

.name {
    color: #454B51;
}

.surname, .subtitle {
    color: white;
}

.subtitle {
    font-size: 2.1ex;
}