* {
    box-sizing: border-box;
}

picture {
    margin: 0;
}
.proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image--item img {
    border-radius: 5px;
    width: 10vh;
}
.image--item {
    margin-left: 5px;
}
.image--item a{
    margin: 0;
    padding: 0;
}
.item--text {
    margin-right: 10px;
    text-align: justify;
    padding-left: 10px;
}
.text h1 {
    color: var(--main-titles_color);
    font-weight: bolder;
}
.text p {
    font-size: small;
}
.deco {
    font-style: italic;
}
.superior {
    margin-top: 10px;
}