<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404_Error</title>

</head>
<body>
    <div class="text">
        <div class="main_text">
            <h1 class="main_title">ERROR 404</h1>
            <p>
                    <h1>Keep calm.</h1>
                    <h2>The link is broken.</h2>
                    <h2>Relax looking into the depths...</h2>
            </p>
        </div>
        <div class="link">
            <a href="index.html" target="_blank" rel="noopener noreferrer">Wake up, make click & return to origins</a>
        </div>
    </div>
</body>
<!-- <script src="dist/error404.bundle.js"></script> -->
</html>