@use './responsive' as r;

* {
    box-sizing: border-box;
}

.carousel-container {
    margin-top: 0;
    a{
        padding: 0;
    }
}

.carousel-links {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.carousel-dot {
    background-color: var(--main-titles_color);
    margin: 0 5px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
}

.carousel-slides {
    height:  12vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
    div {
        width: 100%;
        overflow: hidden;
    }
    @include r.tablet {
        height:  18vh;  
    }
    @include r.laptop {
        height:  18vh;  
    }
    @include r.large {
        height:  30vh;
    }
}

.a_slide picture source, .a_slide picture img{
    object-fit: cover;
    width: 100%;
}