$TABLET_WIDTH: 480px;
$LAPTOP_WIDTH: 640px;
$LARGE_WIDTH: 1008px;
$ULTRALARGE_WIDTH: 1440px;

@mixin tablet {
    @media only screen and (min-width: $TABLET_WIDTH) {
        @content; /* Único y exclusivo para esta medida*/
    }
};

@mixin laptop {
    @media only screen and (min-width: $LAPTOP_WIDTH) {
        @content; 
    }
};

@mixin large {
    @media only screen and (min-width: $LARGE_WIDTH) {
        @content; 
    }
}

@mixin ultraLarge {
    @media only screen and (min-width: $ULTRALARGE_WIDTH) {
        @content; 
    }
}