@use './responsive' as r;

* {
    box-sizing: border-box;
}

a{
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container a, container a:hover, container a:visited {
    color: #454B51;
}

.container {
    margin: 10px;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr;
    justify-items: center;
    @include r.tablet {
        grid-template-columns: auto auto;
    }
    @include r.large {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    background-color: rgb(245, 245, 245);
    min-width: 180px;
    max-width: 350px;
    min-height: 175px;
    padding: 3px;
    border: 1px rgb(197, 193, 193) solid;
    border-radius: 25px;
    box-shadow: 1px 1px;
} 

picture {
    margin: 0;
}

.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image--item {
    margin-left: 5px;
    img {
        border-radius: 5px;
        width: 10vh;
    }
}

.item--text {
    margin-right: 10px;
    text-align: justify;
    padding-left: 10px;
    color:rgb(126, 125, 125)
}

.text {
    h1 {
    margin-bottom: 5px;
    color: var(--main-titles_color);
    font-weight: bolder;
    text-align: center;
    }
    p {
    font-size: small;
    }
}

.deco {
    font-style: italic;
}